*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-logo:#2c1c94;
    --cor-hover:#a8a4c6;
    
    --fonte-logo:"LeagueGothic",Arial, Helvetica, sans-serif;
    --fonte-padrao:"League-Spartan", Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'League-Spartan' ;
    src: url(files/fonts/league-spartan-master/LeagueSpartan-Bold.otf);
}
@font-face {
    font-family: 'LeagueGothic' ;
    src: url(files/fonts/theleagueof-league-gothic-64c3ede/LeagueGothic-Regular.otf);
}

body{
    background-color: var(--cor-logo);
}

nav{
    background-color: gray;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: ;
}

nav ul li {
    display:inline;
    color: white;
    list-style: none;
    justify-content:;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    display: block;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 1px 6px 0px black;
    font-family: var(--fonte-padrao);
}

nav ul li a:hover{
    background-color: var(--cor-hover);
}

nav form {
  
    justify-content: right;
}

nav form input{
  
    justify-content: right;
}




